<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.berkeley.cs160.mSpray"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme" >
        <activity
            android:name="edu.berkeley.cs160.mSpray.MSpray"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.berkeley.cs160.mSpray.SprayerIDScan"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="edu.berkeley.cs160.mSpray.GetGpsActivity" >
        </activity>
        <activity android:name="edu.berkeley.cs160.mSpray.PaperWorkChoiceActivity" >
        </activity>
        <activity android:name="edu.berkeley.cs160.mSpray.NoSprayActivity" >
        </activity>
        <activity android:name="edu.berkeley.cs160.mSpray.DDTActivity" >
        </activity>
        <activity android:name="edu.berkeley.cs160.mSpray.PyrethroidActivity" >
        </activity>
        <activity android:name="edu.berkeley.cs160.mSpray.ConfirmDDT" >
        </activity>
        <activity android:name="edu.berkeley.cs160.mSpray.ConfirmNoSpray" >
        </activity>
        <activity android:name="edu.berkeley.cs160.mSpray.ConfirmPyrethroid" >
        </activity>
        <activity android:name="edu.berkeley.cs160.mSpray.FinishedActivity" >
        </activity>
    </application>

</manifest>