<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.berkeley.cs160.mSpray"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.NFC" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme" >
        <activity
            android:name="edu.berkeley.cs160.mSpray.MSpray"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="edu.berkeley.cs160.mSpray.SprayerIDScan"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="edu.berkeley.cs160.mSpray.GetGpsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="edu.berkeley.cs160.mSpray.PaperWorkChoiceActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="edu.berkeley.cs160.mSpray.NoSprayActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="edu.berkeley.cs160.mSpray.DDTActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="edu.berkeley.cs160.mSpray.KOrthrineActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="edu.berkeley.cs160.mSpray.ConfirmDDT"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="edu.berkeley.cs160.mSpray.ConfirmKOrthrine"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="edu.berkeley.cs160.mSpray.FinishedActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="edu.berkeley.cs160.mSpray.ScanForeman"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.berkeley.cs160.mSpray.ScanSprayer"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="edu.berkeley.cs160.mSpray.ChooseSprayer"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="edu.berkeley.cs160.mSpray.StartNewSpray"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="edu.berkeley.cs160.mSpray.UnsprayedActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="edu.berkeley.cs160.mSpray.ConfirmUnsprayed"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>